# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# Database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp / local test files
temp_*.py
*_test.py
test_*.py
phases_testing.py